<%= simple_form_for @tool do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, label: "Give your tool a name" %>
  <%= f.input :category, collection: Tool::CATEGORIES, include_blank: false %>
  <%= f.input :location, label: "Where can your tool be picked up?" %>
  <%= f.input :city, collection: Tool::CITIES, label: "What city is your tool in?", include_blank: false %>
  <%= f.input :description , label: "Tool description"%>
  <%= f.input :photo, label: "Add a photo", as: :attachinary %>
  <div class="btn-holder">
    <% if user_signed_in? %>
      <%= hidden_field_tag "user_id", current_user.id %>
      <%= f.button :submit, class: "btn btn-success" %>
    <% else %>
    <%= f.label "Please Login" %>
    <% end %>
  </div>
<% end %>
