<div class="form-inputs">
  <%= simple_form_for [@booking] do |f| %>
    <%= f.input :date_begin, label: "Start date: ", autofocus: true %>
    <%= f.input :date_end, label: "End date: " %>
    <%= f.input :message, label: "Message " %>
    <%= hidden_field_tag 'tool_id', @tool.id %>
    <div class="form-actions">
      <% if user_signed_in? %>
        <%= f.button :submit, class: "btn btn-success" %>
        <%= hidden_field_tag 'user_id', current_user.id %>
      <% else %>
        <%= link_to 'Gotta be logged in!!!', user_session_path, class: "btn btn-danger" %>
      <% end %>
      </div>
  <% end %>
</div>
