<div class="container-fluid padded">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="row slideDown">
      <% @tools.each do |tool| %>
      <div class="col-xs-12 col-sm-6">
      <%= link_to tool do %>
      <div class="thumbnail">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url('<%= card_photo?(tool) %>');">
          <div class="card-category">
            <%= category_icon(tool) %>
          </div>
          <div class="card-user">
            <p><%= tool.user.first_name %></p>
          </div>
        </div>
        <div class="caption card-caption">
          <div class="row">
            <div class="col-xs-12">
              <h4><%= cutoff_text(tool.name) %> in <%= tool.location %></h4>
              <p><%= cutoff_description(tool.description) %></p>
            </div>
          </div>
        </div>
        </div>
        <% end %>
      </div>

      <% end %>
      </div>
    </div>
  </div>
</div>
