<div class="container">
  <div class="row">
    <% @tools.each do |tool| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url('<%= card_photo?(tool) %>');">
        <div class="card-category">
          <%= category_icon(tool) %>
          <p><%= tool.category %></p>
        </div>
        <div class="card-description">
          <h1><%= cutoff_text(tool.name) %></h1>
          <p><%= cutoff_text(tool.description) %></p>
        </div>
        <div class="card-user">
          <%= image_tag("earth-globe.png") %>
          <p><%= cutoff_text(tool.location) %></p>
        </div>
      </div>
      <%= link_to tool, class: "card-link" do  %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
