<div class="container-fluid padded">


  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h1>Filter your Results</h1>
      <%= simple_form_for @tool, method: :get do |f| %>
      <%= f.input :name, label: false, placeholder: "Tool name" %>
      <%= f.input :city, label: false, collection: Tool::CITIES, prompt: "Your city" %>
      <%= f.input :category, label: false, collection: Tool::CATEGORIES, prompt: "Tool category" %>
      <%= f.button :submit, "Search!", class: "btn btn-primary" %>
      <% end %><br>
    <!-- </div>
    <div class="col-xs-12 col-md-6"> -->
      <div class="wrap">
      <div class="row">
      <% @tools.each do |tool| %>
        <div class="col-xs-12 col-md-6">
          <%= link_to tool do %>
            <div class="thumbnail slideDown">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url('<%= card_photo?(tool) %>');">
                <div class="card-category">
                  <%= category_icon(tool) %>
                </div>
                <div class="card-user">
                  <p><%= tool.user.first_name %></p>
                </div>
              </div>
            </div>
            <div class="caption card-caption">
              <div class="row">
                <div class="col-xs-12">
                  <h4><%= cutoff_text(tool.name) %></h4>
                  <p><%= cutoff_text(tool.location) %></p>
                  <p><%= cutoff_text(tool.description) %></p>
                  <p><%= tool.created_at.strftime("Added on %m/%d/%Y") %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="map-container hidden-xs hidden-sm">
        <div id="map" style="width: 100%; height: 100vh;"></div>
        <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).ready(function() {
              var handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function() {
                markers = handler.addMarkers(<%= raw @hash.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                if (markers.length == 0) {
                  handler.getMap().setZoom(2);
                } else if (markers.length == 1) {
                  handler.getMap().setZoom(14);
                }
              });
            });
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
