<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%= @tool.name %></h1>
      <% if @tool.photo? %>
        <%= cl_image_tag @tool.photo.path, transformation:[
          { crop: "fill" },
          { width: "auto", dpr: "auto", crop:"scale" }
          ], class: "img-responsive cld-responsive"%>
      <% end %>
      <p>Owner: <%= @tool.user.first_name + " " + @tool.user.last_name %></p>
      <p>Description: <%= @tool.description %></p>
      <p>Location: <%= @tool.location %></p>
      <%= render '/bookings/form' %>
      <%= link_to 'Back', tools_path, class: "btn" %>

      <div class="hidden-xs" id="map" style="width: 100%; height: 25em;"></div>
      <%= render 'map'%>
    </div>
  </div>
</div>

