<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1">
      <div class="form-table">
        <h2>Sign up</h2>
        <div class="wrap hidden-xs">
          <div class="left">
            <div class="btn fb-btn">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <%= render "devise/shared/omniauth_link" %>
            </div>
          </div>
          <div class="center">
            <div class="bar-top-right"></div>
            <p>or</p>
            <div class="bar-bottom-right"></div>
          </div>
          <div class="right">
            <%= render 'signup_form' %>
          </div>

        </div>

        <!-- for mobile navigation -->
        <div class="wrap-sm hidden-sm hidden-md hidden-lg">

          <div class="left-sm">
            <div class="btn fb-btn">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <%= render "devise/shared/omniauth_link" %>
            </div>
          </div>

          <div class="center-sm">
            <div class="bar-left"></div>
            <p>or</p>
            <div class="bar-right"></div>
          </div>

          <div class="right-sm">
            <%= render 'signup_form' %>
          </div>

        </div>

      </div>
      <div class="links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>


