<div class="form-inputs">
  <%= simple_form_for [@booking] do |f| %>
    <%= f.input :date_begin, as: 'string', label: "Start date: ", autofocus: true, input_html: { class: 'datepicker' } %>
    <%= f.input :date_end, as: 'string', label: "End date: ", input_html: { class: 'datepicker' } %>

    <%= f.input :message, label: "Message " %>
    <%= hidden_field_tag 'tool_id', @tool.id %>
    <div class="form-actions">
      <% if user_signed_in? %>
        <%= f.button :submit, class: "btn btn-success" %>
        <%= hidden_field_tag 'user_id', current_user.id %>
      <% else %>
         <%= link_to 'Gotta be logged in!!!', new_user_session_path, class: "btn btn-danger" %>
      <% end %>
      </div>
  <% end %>
</div>

<script type="text/javascript">
  $('.datepicker').datepicker();
</script>
