<div class="container">
  <% @tools.each do |tool| %>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url('<%= image_path("https://www.placecage.com/g/300/400") %>');">
          <div class="card-category">
            <%= tool.category %>
          </div>
          <div class="card-description">
            <h2><%= tool.name %></h2>
            <p><%= tool.description %></p>
          </div>
        </div>
        <%= link_to tool, class: "card-link" do  %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tooler</th>
              <th>From</th>
              <th>To</th>
              <th>Message</th>
              <th>State</th>
            </tr>
          </thead>
          <tbody>
            <% tool.bookings.where("date_end >= '#{Date.today}'").each do |booking| %>
              <tr>
                <td><%= booking.user.first_name %></td>
                <td><%= booking.date_begin %></td>
                <td><%= booking.date_end %></td>
                <td><%= booking.message %></td>
                <% if booking.accepted.nil? %>
                  <td>
                    <%= button_to "Accept", update_state_path(booking_id: booking.id, value: "accept"), method: :patch %>
                    <%= button_to "Reject", update_state_path(booking_id: booking.id, value: "reject"), method: :patch %>
                  </td>
                <% else %>
                  <td><%= booking.accepted %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>
