<div class="container">
  <% @tools.each do |tool| %>
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="action-card">
          <div class="action-card-title">
            <h4 class="no-margin">
              <%= tool.name %>
              <%= link_to edit_tool_path(tool) do %>
              <i class="fa fa-pencil" aria-hidden="true"></i>
              <% end %>
            </h4>
          </div>
          <div class="action-card-thumb text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= action_card_photo?(tool) %>');">
            <%= link_to tool, class: "card-link" do  %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-9">
        <table class="table table-striped">
          <colgroup>
             <col span="1" style="width: 10%;">
             <col span="1" style="width: 20%;">
             <col span="1" style="width: 20%;">
             <col span="1" style="width: 27%;">
             <col span="1" style="width: 23%;">
          </colgroup>
          <thead>
            <tr>
              <th>Tooler</th>
              <th>From</th>
              <th>To</th>
              <th>Message</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <% tool.bookings.where("date_end >= '#{Date.today}'").each do |booking| %>
              <tr>
                <td><%= booking.user.first_name %></td>
                <td><%= booking.date_begin %></td>
                <td><%= booking.date_end %></td>
                <td><%= link_to booking do %><%= booking.message %> <i class="fa fa-comments-o" aria-hidden="true"></i><% end %></td>
                <% if booking.accepted.nil? %>
                  <td id="<%= booking.id %>">
                  <button class="btn btn-success btn-tooltime-sm accept">Accept</button>
                  <button class="btn btn-danger btn-tooltime-sm reject">Reject</button>
                  </td>
                <% elsif booking.accepted == true %>
                  <td><i class="fa fa-check" aria-hidden="true"></i></td>
                <% else %>
                  <td><i class="fa fa-times" aria-hidden="true"></i></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <hr>
  <% end %>
</div>

<% content_for(:after_js) do %>
  <script>
  $(document).ready(function(){
    $('.accept').on('click', function(){
      $.ajax({
        type: "PATCH",
        url: "<%= update_state_path %>",
        data:  { booking_id: $(this).parent().attr('id'), state_change: 'accept' },
        success: function() {
          console.log("bookings updated successfully");
        }
      });
      $(this).parent().html("<i class='fa fa-check' aria-hidden='true'></i>");
    });
    $('.reject').on('click', function(){
      $.ajax({
        type: "PATCH",
        url: "<%= update_state_path %>",
        data:  { booking_id: $(this).parent().attr('id'), state_change: 'reject' },
        success: function() {
          console.log("bookings updated successfully");
        }
      });
      $(this).parent().html("<i class='fa fa-times' aria-hidden='true'></i>");
    });
  });
  </script>
<% end %>

