<div class="container">
  <% @tools.each do |tool| %>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url('<%= image_path("https://www.placecage.com/g/300/400") %>');">
          <div class="card-category">
            <%= tool.category %>
          </div>
          <div class="card-description">
            <h2><%= tool.name %></h2>
            <p><%= tool.description %></p>
          </div>
        </div>
        <%= link_to tool, class: "card-link" do  %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tooler</th>
              <th>From</th>
              <th>To</th>
              <th>Message</th>
              <th>State</th>
            </tr>
          </thead>
          <tbody>
            <% tool.bookings.where("date_end >= '#{Date.today}'").each do |booking| %>
              <tr>
                <td><%= booking.user.first_name %></td>
                <td><%= booking.date_begin %></td>
                <td><%= booking.date_end %></td>
                <td><%= booking.message %></td>
                <% if booking.accepted.nil? %>
                  <td id="<%= booking.id %>">
                  <button class="btn btn-success accept">Accept</button>
                  <button class="btn btn-danger reject">Reject</button>
                  </td>
                <% elsif booking.accepted == true %>
                  <td><i class="fa fa-check" aria-hidden="true"></i></td>
                <% else %>
                  <td><i class="fa fa-times" aria-hidden="true"></i></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>

<% content_for(:after_js) do %>
  <script>
  $(document).ready(function(){
    $('.accept').on('click', function(){
      $.ajax({
        type: "PATCH",
        url: "<%= update_state_path %>",
        data:  { booking_id: $(this).parent().attr('id'), state_change: 'accept' },
        success: function() {
          console.log("bookings updated successfully");
        }
      });
      $(this).parent().html("<i class='fa fa-check' aria-hidden='true'></i>");
    });
    $('.reject').on('click', function(){
      $.ajax({
        type: "PATCH",
        url: "<%= update_state_path %>",
        data:  { booking_id: $(this).parent().attr('id'), state_change: 'reject' },
        success: function() {
          console.log("bookings updated successfully");
        }
      });
      $(this).parent().html("<i class='fa fa-times' aria-hidden='true'></i>");
    });
  });
  </script>
<% end %>

