<div class="navbar-tooltime">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-tooltime-brand" do %>
    <%= image_tag("logo.png") %>
  <% end %>

  <!-- Right Navigation -->
  <% if user_signed_in? %>
    <div class="navbar-tooltime-right hidden-xs hidden-sm">
      <div class="navbar-tooltime-item navbar-tooltime-link">
        <div class="dropdown">
          <div class="dropdown-toggle" id="navbar-tooltime-menu" data-toggle="dropdown">
            <i class="fa fa-wrench" aria-hidden="true"></i>
            My Tools
          </div>
          <ul class="dropdown-menu dropdown-menu-right navbar-tooltime-dropdown-menu">
            <li>
              <%= link_to tools_user_path(current_user), class: "navbar-tooltime-item navbar-tooltime-link" do %>
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                Tools Dashboard
              <% end %>
            </li>
            <li>
              <%= link_to new_tool_path, class: "navbar-tooltime-item
                navbar-tooltime-link" do %>
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add a Tool
              <% end %>
            </li>
          </ul>
        </div>
      </div>

      <%= link_to bookings_user_path(current_user), class: "navbar-tooltime-item navbar-tooltime-link" do %>
        <i class="fa fa-book" aria-hidden="true"></i>
        My Bookings
      <% end %>

      <%= link_to destroy_user_session_path, method: "delete", class: "navbar-tooltime-item navbar-tooltime-link" do %>
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        Log Out
      <% end %>

      <% avatar_url = current_user.facebook_picture_url || "tim-allen.jpg" %>
      <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
    </div>

  <% else %>
    <div class="navbar-tooltime-right hidden-xs hidden-sm">
      <%= link_to "Login", new_user_session_path, class: "navbar-tooltime-item navbar-tooltime-link" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "navbar-tooltime-item navbar-tooltime-link" %>
    </div>
  <% end %>


  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-tooltime-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-tooltime-dropdown-menu">
        <% if user_signed_in? %>
          <li>
            <%= link_to tools_user_path(current_user), class: "navbar-tooltime-item navbar-tooltime-link" do %>
              <i class="fa fa-tachometer" aria-hidden="true"></i>
              Tools Dashboard
            <% end %>
          </li>
          <li>
            <%= link_to new_tool_path, class: "navbar-tooltime-item
            navbar-tooltime-link" do %>
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add a Tool
            <% end %>
          </li>
          <li>
            <%= link_to bookings_user_path(current_user), class: "navbar-tooltime-item navbar-tooltime-link" do %>
              <i class="fa fa-book" aria-hidden="true"></i>
              My Bookings
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: "delete", class: "navbar-tooltime-item navbar-tooltime-link" do %>
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              Log Out
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to "Login", new_user_session_path, class: "navbar-tooltime-item navbar-tooltime-link" %>
          </li>
          <li>
            <%= link_to "Sign Up", new_user_registration_path, class: "navbar-tooltime-item navbar-tooltime-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
