<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path("background.jpg") %>');">
  <div class="banner-content">
    <div class="container">
      <div class="row bigEntrance">
       <h1>TOOLTIME</h1>
       <p>Find the tool you need. Every time.</p>
       <div class="hidden-xs"><%= image_tag("timallen.png", class: "img-circle fadeIn") %></div>
       <div class="col-xs-12">
        <div class="form-inline">
          <%= simple_form_for @tool, method: :get do |f| %>
          <%= f.input :name, label: false, placeholder: "What tool do you need?" %>
          <%= f.input :location, label: false, placeholder: "Where are you?" %>
          <%= f.input :category, label: false, collection: Tool::CATEGORIES, prompt: "Tool category" %>
          <%= f.button :submit, "Search!", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
