<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Tool Time</title>
    <link rel="shortcut icon" href="http://icons.iconarchive.com/icons/double-j-design/ravenna-3d/256/Tools-icon.png">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div class="page-wrapper">
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>

      <%= yield %>

      <%= cloudinary_js_config %>

      <%= yield(:after_js) %>

      <%= render "shared/footer" %>
    </div>
  </body>
</html>



